.container {
  margin-top: 30px;
}
span{
  padding: 1rem;
}
span:hover{
  background-color: lightgray;
}
.wrap{
  display: flex;
justify-content: space-evenly;
}

 
.active {
  background-color: lightgray;
}
